BUOY_NODE_ID=ucl-buoy
BUOY_BACKEND_API_BASE=http://<laptop-tailscale-host-or-ip>:8000/v1
BUOY_UPLOAD_TOKEN=STRONG_UPLOAD_TOKEN_69420
BUOY_BASE_DIR=/var/lib/buoy
BUOY_DATA_DIR=/mnt/ssd/buoy

BUOY_SERIAL_PORT=/dev/ttyAMA0
BUOY_SERIAL_BAUD=115200
BUOY_SERIAL_AUTO_DETECT=true

BUOY_GNSS_PORT=/dev/ttyUSB0
BUOY_GNSS_BAUD=9600
BUOY_GNSS_AUTO_DETECT=true
BUOY_GNSS_INTERVAL_S=5
BUOY_ENABLE_LOCATION_IP_FALLBACK=false

BUOY_AUDIO_DEVICE=hw:3,0
BUOY_AUDIO_AUTO_DETECT=true
BUOY_AUDIO_SAMPLE_RATE=96000
BUOY_AUDIO_CHANNELS=2
BUOY_AUDIO_FORMAT=S32_LE
BUOY_AUDIO_CHUNK_S=60

BUOY_UPLOAD_INTERVAL_S=5
BUOY_HEALTH_INTERVAL_S=15
BUOY_ENV_INTERVAL_S=10
